openapi: 3.0.0
info:
  title: NexaPay Payment Gateway API
  version: 1.0.0
  description: |
    Official API for NexaPay Tunisian Payment Gateway.

    NexaPay provides a comprehensive payment processing platform for Tunisian merchants,
    with support for payment intents, refunds, payouts, webhooks, and merchant management.

    ## Authentication

    All API requests require an API key in the `X-API-Key` header.

    API keys follow the format: `nxp_{owner_tag}_{token}_{checksum}`

    - Developer keys: `nxp_developer_...`
    - Merchant keys: `nxp_merchant_...`
    - Bank keys: `nxp_bank_...`

    ## Base URL

    Production: `https://nexapay.space/backend`
    Development: `http://localhost:8088`

    ## Testing

    Use test card numbers for sandbox environment:

    - `4242424242424242` (PIN: `1234`) - Success
    - `5555555555554444` (PIN: `1234`) - Success
    - `4000000000000002` (PIN: `1234`) - Declined

  contact:
    name: NexaPay Support
    email: contact@backendglitch.com
    url: https://nexapay.space
  license:
    name: Proprietary
    url: https://nexapay.space/terms

servers:
  - url: https://nexapay.space/backend
    description: Production server
  - url: http://localhost:8088
    description: Local development server

security:
  - ApiKeyAuth: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: |
        NexaPay API key in format `nxp_{owner_tag}_{token}_{checksum}`

        Examples:
        - Merchant: `nxp_merchant_abc123def456ghi789_12345678`
        - Developer: `nxp_developer_def456ghi789abc123_87654321`
        - Bank: `nxp_bank_ghi789abc123def456_abcdef12`

  schemas:
    ApiResponse:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          description: Whether the request was successful
          example: true
        error:
          type: string
          description: Error message if success is false
          example: "Invalid API key"
        metadata:
          type: object
          description: Additional metadata for paginated responses
          properties:
            total:
              type: integer
              description: Total number of items
            page:
              type: integer
              description: Current page number
            limit:
              type: integer
              description: Number of items per page
            hasMore:
              type: boolean
              description: Whether there are more pages
            nextPage:
              type: string
              description: Next page token

    RegisterMerchantRequest:
      type: object
      required:
        - name
        - support_email
      properties:
        name:
          type: string
          description: Merchant display name
          example: "Nexa Store"
          maxLength: 255
        business_name:
          type: string
          description: Legal business name (optional)
          example: "Nexa Store SARL"
          maxLength: 255
        support_email:
          type: string
          format: email
          description: Support email for merchant communications
          example: "support@nexastore.tn"
          maxLength: 255
        webhook_url:
          type: string
          format: uri
          description: Webhook URL for payment events (optional)
          example: "https://merchant.tn/webhooks/nexapay"
          maxLength: 500

    RegisterMerchantResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          required:
            - merchant_id
            - merchant_uuid
            - api_key
            - api_key_prefix
            - checkout_base_url
            - status
          properties:
            merchant_id:
              type: string
              description: Merchant identifier (short code)
              example: "mrc_abc123def456"
            merchant_uuid:
              type: string
              format: uuid
              description: Merchant UUID for internal reference
              example: "550e8400-e29b-41d4-a716-446655440000"
            api_key:
              type: string
              description: API key for the merchant
              example: "nxp_merchant_abc123def456ghi789_12345678"
            api_key_prefix:
              type: string
              description: API key prefix for identification
              example: "nxp_merchant_abc1"
            checkout_base_url:
              type: string
              format: uri
              description: Base URL for checkout pages
              example: "https://nexapay.space/checkout"
            status:
              type: string
              enum: [active, pending, suspended, inactive]
              description: Merchant account status
              example: "active"

    MerchantStats:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            payments:
              type: object
              properties:
                succeeded:
                  type: integer
                  description: Number of successful payments
                  example: 42
                failed:
                  type: integer
                  description: Number of failed payments
                  example: 3
                pending:
                  type: integer
                  description: Number of pending payments
                  example: 5
            totals:
              type: object
              properties:
                gross:
                  type: integer
                  description: Gross amount collected (in millimes)
                  example: 4200000
                refunded:
                  type: integer
                  description: Total amount refunded (in millimes)
                  example: 50000
                available:
                  type: integer
                  description: Available balance for payout (in millimes)
                  example: 4150000

    CreatePaymentIntentRequest:
      type: object
      required:
        - amount
      properties:
        amount:
          type: integer
          minimum: 1
          description: Amount in millimes (1 TND = 1000 millimes)
          example: 42000
        currency:
          type: string
          description: Currency code (ISO 4217)
          default: "TND"
          example: "TND"
          maxLength: 8
        description:
          type: string
          description: Description of the payment (optional)
          example: "Order #42"
          maxLength: 500
        customer_email:
          type: string
          format: email
          description: Customer email address (optional)
          example: "customer@example.tn"
          maxLength: 255
        customer_name:
          type: string
          description: Customer name (optional)
          example: "Ahmed Ben Ali"
          maxLength: 255
        metadata:
          type: object
          description: Additional metadata (optional)
          additionalProperties: true
        idempotency_key:
          type: string
          description: Idempotency key to prevent duplicate payments (optional)
          example: "order-42-attempt-1"
          maxLength: 128

    PaymentIntent:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          required:
            - intent_id
            - status
            - amount
            - currency
            - checkout_url
            - client_secret
          properties:
            intent_id:
              type: string
              description: Payment intent identifier
              example: "pi_abc123def456ghi7"
            status:
              type: string
              enum: [requires_confirmation, succeeded, failed, refunded, partially_refunded]
              description: Current status
              example: "requires_confirmation"
            amount:
              type: integer
              description: Amount in millimes
              example: 42000
            currency:
              type: string
              description: Currency code
              example: "TND"
            description:
              type: string
              description: Description if provided
              example: "Order #42"
            customer_email:
              type: string
              format: email
              description: Customer email if provided
              example: "customer@example.tn"
            customer_name:
              type: string
              description: Customer name if provided
              example: "Ahmed Ben Ali"
            checkout_url:
              type: string
              format: uri
              description: Checkout URL for customer payment
              example: "https://nexapay.space/checkout/pi_abc123def456ghi7"
            client_secret:
              type: string
              description: Client secret for secure operations
              example: "abc123def456ghi789jkl012mno345pqr678stu901"
            reused:
              type: boolean
              description: Whether this intent was reused from idempotency key
              example: false
            card_last4:
              type: string
              description: Card last 4 digits (if confirmed)
              example: "4242"
              maxLength: 4
            card_brand:
              type: string
              enum: [visa, mastercard, unknown]
              description: Card brand (if confirmed)
              example: "visa"
            failure_reason:
              type: string
              description: Failure reason if status is 'failed'
              example: "card_validation_failed_or_pin_declined"
            created_at:
              type: string
              format: date-time
              description: Creation timestamp
              example: "2024-04-20T10:30:00Z"
            confirmed_at:
              type: string
              format: date-time
              description: Confirmation timestamp
              example: "2024-04-20T10:31:15Z"

    ConfirmPaymentIntentRequest:
      type: object
      required:
        - card_number
        - expiry_month
        - expiry_year
        - cvv
        - pin
      properties:
        card_number:
          type: string
          description: Card number (without spaces)
          example: "4242424242424242"
          pattern: "^[0-9]{13,19}$"
        expiry_month:
          type: string
          description: Expiry month (2 digits)
          example: "12"
          pattern: "^(0[1-9]|1[0-2])$"
        expiry_year:
          type: string
          description: Expiry year (4 digits)
          example: "2029"
          pattern: "^[0-9]{4}$"
        cvv:
          type: string
          description: Card verification value (3 or 4 digits)
          example: "123"
          pattern: "^[0-9]{3,4}$"
        pin:
          type: string
          description: 4-digit PIN for authorization
          example: "1234"
          pattern: "^[0-9]{4}$"
        card_holder_name:
          type: string
          description: Card holder name (optional)
          example: "Ahmed Ben Ali"
          maxLength: 255

    ConfirmPaymentIntentResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          required:
            - intent_id
            - status
            - redirect_url
          properties:
            intent_id:
              type: string
              description: Payment intent identifier
              example: "pi_abc123def456ghi7"
            status:
              type: string
              enum: [succeeded, failed]
              description: Updated status
              example: "succeeded"
            failure_reason:
              type: string
              description: Failure reason if applicable
              example: "test_card_forced_decline"
            redirect_url:
              type: string
              format: uri
              description: Redirect URL for customer
              example: "https://nexapay.space/payment/success?intent_id=pi_abc123def456ghi7&status=succeeded"

    CreateRefundRequest:
      type: object
      required:
        - intent_id
      properties:
        intent_id:
          type: string
          description: Payment intent ID to refund
          example: "pi_abc123def456ghi7"
        amount:
          type: integer
          minimum: 1
          description: Amount to refund in millimes (optional, defaults to full amount)
          example: 21000
        reason:
          type: string
          description: Reason for refund (optional)
          example: "Customer requested refund"
          maxLength: 500

    Refund:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          required:
            - refund_id
            - intent_id
            - amount
            - status
            - intent_status
          properties:
            refund_id:
              type: string
              description: Refund identifier
              example: "rf_abc123def456ghi7"
            intent_id:
              type: string
              description: Associated payment intent ID
              example: "pi_abc123def456ghi7"
            amount:
              type: integer
              description: Refund amount in millimes
              example: 21000
            status:
              type: string
              enum: [succeeded, pending, failed]
              description: Refund status
              example: "succeeded"
            reason:
              type: string
              description: Reason for refund if provided
              example: "Customer requested refund"
            intent_status:
              type: string
              enum: [refunded, partially_refunded]
              description: Updated payment intent status
              example: "partially_refunded"
            created_at:
              type: string
              format: date-time
              description: Creation timestamp
              example: "2024-04-20T11:30:00Z"

    CreatePayoutRequest:
      type: object
      required:
        - amount
        - destination
      properties:
        amount:
          type: integer
          minimum: 1
          description: Amount in millimes
          example: 4150000
        destination:
          type: string
          description: Destination identifier (bank account, wallet, etc.)
          example: "IBAN TN59 1000 1000 1000 1000 1000"
          maxLength: 255

    Payout:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          required:
            - payout_id
            - status
            - amount
            - destination
          properties:
            payout_id:
              type: string
              description: Payout identifier
              example: "po_abc123def456ghi7"
            status:
              type: string
              enum: [queued, processing, paid, failed, cancelled]
              description: Payout status
              example: "queued"
            amount:
              type: integer
              description: Amount in millimes
              example: 4150000
            destination:
              type: string
              description: Destination identifier
              example: "IBAN TN59 1000 1000 1000 1000 1000"
            created_at:
              type: string
              format: date-time
              description: Creation timestamp
              example: "2024-04-20T12:00:00Z"

    Balance:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          required:
            - currency
            - gross
            - refunded
            - payouts
            - pending
            - available
          properties:
            currency:
              type: string
              description: Currency code
              example: "TND"
            gross:
              type: integer
              description: Gross amount collected (in millimes)
              example: 4200000
            refunded:
              type: integer
              description: Total amount refunded (in millimes)
              example: 50000
            payouts:
              type: integer
              description: Total amount in pending payouts (in millimes)
              example: 0
            pending:
              type: integer
              description: Total amount in pending payments (in millimes)
              example: 42000
            available:
              type: integer
              description: Available balance for payout (in millimes)
              example: 4145000

    TransactionItem:
      type: object
      required:
        - type
        - id
        - amount
        - currency
        - status
      properties:
        type:
          type: string
          enum: [intent, refund]
          description: Transaction type
          example: "intent"
        id:
          type: string
          description: Transaction identifier
          example: "pi_abc123def456ghi7"
        amount:
          type: integer
          description: Amount in millimes
          example: 42000
        currency:
          type: string
          description: Currency code
          example: "TND"
        status:
          type: string
          description: Transaction status
          example: "succeeded"
        description:
          type: string
          description: Description if available
          example: "Order #42"
        reason:
          type: string
          description: Reason if applicable (for refunds)
          example: "Customer requested refund"
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
          example: "2024-04-20T10:30:00Z"

    TransactionsResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            intents:
              type: array
              items:
                $ref: '#/components/schemas/TransactionItem'
              description: List of payment intents
            refunds:
              type: array
              items:
                $ref: '#/components/schemas/TransactionItem'
              description: List of refunds

    CreateWebhookRequest:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          format: uri
          description: Webhook URL (must be http:// or https://)
          example: "https://merchant.tn/webhooks/nexapay"
          maxLength: 500
        event_types:
          type: array
          items:
            type: string
            enum: [payment_intent.succeeded, payment_intent.failed, payment_intent.refunded, payout.created, payout.completed, payout.failed, webhook.test]
          description: Event types to subscribe to (optional, defaults to all payment events)
          example: ["payment_intent.succeeded", "payment_intent.failed"]

    Webhook:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          required:
            - id
            - url
            - event_types
            - signing_secret
            - is_active
          properties:
            id:
              type: string
              format: uuid
              description: Webhook identifier
              example: "550e8400-e29b-41d4-a716-446655440000"
            url:
              type: string
              format: uri
              description: Webhook URL
              example: "https://merchant.tn/webhooks/nexapay"
            event_types:
              type: array
              items:
                type: string
              description: Subscribed event types
              example: ["payment_intent.succeeded", "payment_intent.failed"]
            signing_secret:
              type: string
              description: Signing secret for webhook verification
              example: "whsec_abc123def456ghi789jkl012"
            is_active:
              type: boolean
              description: Whether the webhook is active
              example: true
            created_at:
              type: string
              format: date-time
              description: Creation timestamp
              example: "2024-04-20T10:00:00Z"

    WebhookDelivery:
      type: object
      properties:
        event_type:
          type: string
          description: Event type
          example: "payment_intent.succeeded"
        response_status:
          type: integer
          description: HTTP response status code
          example: 200
        response_body:
          type: string
          description: Response body (truncated)
          example: "{\"received\": true}"
        success:
          type: boolean
          description: Whether delivery was successful
          example: true
        attempt:
          type: integer
          description: Attempt number
          example: 1
        delivered_at:
          type: string
          format: date-time
          description: Delivery timestamp
          example: "2024-04-20T10:31:15Z"

    DocsSnippets:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            create_intent_curl:
              type: string
              description: cURL command to create payment intent
            confirm_intent_curl:
              type: string
              description: cURL command to confirm payment intent
            test_cards:
              type: array
              items:
                type: object
                properties:
                  card_number:
                    type: string
                    example: "4242424242424242"
                  pin:
                    type: string
                    example: "1234"
                  result:
                    type: string
                    enum: [success, declined]
                    example: "success"
              description: Test card information
            webhook_signature_note:
              type: string
              description: Webhook signature verification note
            checkout_url_pattern:
              type: string
              description: Checkout URL pattern

  responses:
    Unauthorized:
      description: Invalid or missing API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiResponse'
          example:
            success: false
            error: "Invalid API key"

    Forbidden:
      description: API key does not have required permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiResponse'
          example:
            success: false
            error: "This key cannot create intents"

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiResponse'
          example:
            success: false
            error: "Payment intent not found"

    ValidationError:
      description: Request validation failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiResponse'
          example:
            success: false
            error: "amount must be greater than 0"

    RateLimitExceeded:
      description: Rate limit exceeded
      headers:
        retry-after:
          schema:
            type: integer
          description: Seconds to wait before retrying
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiResponse'
          example:
            success: false
            error: "Too many confirmation attempts from this IP"

paths:
  /gateway/v1/merchants/register:
    post:
      summary: Register a new merchant
      description: |
        Register a new merchant and obtain API credentials.

        Requires a developer API key.
      tags:
        - Merchants
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterMerchantRequest'
      responses:
        '200':
          description: Merchant registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterMerchantResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /gateway/v1/merchants/stats:
    get:
      summary: Get merchant statistics
      description: |
        Get statistics for the merchant associated with the API key.

        Requires a merchant API key.
      tags:
        - Merchants
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Merchant statistics retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantStats'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /gateway/v1/intents:
    post:
      summary: Create payment intent
      description: |
        Create a new payment intent for collecting payment from a customer.

        Returns a checkout URL that can be given to the customer to complete payment.

        Requires a merchant API key.
      tags:
        - Payment Intents
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentIntentRequest'
      responses:
        '200':
          description: Payment intent created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentIntent'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /gateway/v1/intents/{intent_id}:
    get:
      summary: Retrieve payment intent
      description: |
        Retrieve details of a payment intent by ID.

        Requires a merchant API key.
      tags:
        - Payment Intents
      security:
        - ApiKeyAuth: []
      parameters:
        - name: intent_id
          in: path
          required: true
          schema:
            type: string
          description: Payment intent ID
          example: "pi_abc123def456ghi7"
      responses:
        '200':
          description: Payment intent retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentIntent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /gateway/v1/intents/{intent_id}/confirm:
    post:
      summary: Confirm payment intent
      description: |
        Confirm a payment intent with card details.

        This endpoint can be called directly by merchants or via the hosted checkout page.

        Rate limited to prevent brute force attacks.
      tags:
        - Payment Intents
      parameters:
        - name: intent_id
          in: path
          required: true
          schema:
            type: string
          description: Payment intent ID
          example: "pi_abc123def456ghi7"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmPaymentIntentRequest'
      responses:
        '200':
          description: Payment confirmed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmPaymentIntentResponse'
        '402':
          description: Payment failed (card declined)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmPaymentIntentResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'

  /gateway/v1/refunds:
    post:
      summary: Create refund
      description: |
        Create a refund for a successful payment intent.

        Can refund full or partial amount.

        Requires a merchant API key.
      tags:
        - Refunds
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRefundRequest'
      responses:
        '200':
          description: Refund created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /gateway/v1/payout:
    post:
      summary: Create payout
      description: |
        Create a payout request to transfer available balance to destination.

        Requires sufficient available balance.

        Requires a merchant API key.
      tags:
        - Payouts
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePayoutRequest'
      responses:
        '200':
          description: Payout created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payout'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /gateway/v1/balance:
    get:
      summary: Get merchant balance
      description: |
        Get current balance information for the merchant.

        Includes gross amount, refunded amount, pending payouts, and available balance.

        Requires a merchant API key.
      tags:
        - Balance
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Balance retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /gateway/v1/transactions:
    get:
      summary: Get merchant transactions
      description: |
        Get recent payment intents and refunds for the merchant.

        Returns up to 50 of each type, sorted by creation date (newest first).

        Requires a merchant API key.
      tags:
        - Transactions
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Transactions retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /gateway/v1/webhooks:
    post:
      summary: Create webhook
      description: |
        Create a new webhook endpoint for receiving payment events.

        Returns a signing secret that must be used to verify webhook signatures.

        Requires a merchant API key with webhooks:manage permission.
      tags:
        - Webhooks
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookRequest'
      responses:
        '200':
          description: Webhook created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

    get:
      summary: List webhooks
      description: |
        List all webhooks for the merchant.

        Requires a merchant API key with webhooks:manage permission.
      tags:
        - Webhooks
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Webhooks listed successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      webhooks:
                        type: array
                        items:
                          $ref: '#/components/schemas/Webhook'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /gateway/v1/webhooks/{id}/deliveries:
    get:
      summary: Get webhook delivery logs
      description: |
        Get delivery logs for a specific webhook.

        Returns up to 100 most recent delivery attempts.

        Requires a merchant API key with webhooks:manage permission.
      tags:
        - Webhooks
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Webhook ID
          example: "550e8400-e29b-41d4-a716-446655440000"
      responses:
        '200':
          description: Delivery logs retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      deliveries:
                        type: array
                        items:
                          $ref: '#/components/schemas/WebhookDelivery'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /gateway/v1/webhooks/{id}/test:
    post:
      summary: Test webhook
      description: |
        Send a test event to a webhook endpoint.

        Requires a merchant API key with webhooks:manage permission.
      tags:
        - Webhooks
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Webhook ID
          example: "550e8400-e29b-41d4-a716-446655440000"
      responses:
        '200':
          description: Test webhook sent successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      delivery:
                        type: object
                        additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /gateway/v1/webhooks/{id}:
    delete:
      summary: Delete webhook
      description: |
        Delete (deactivate) a webhook.

        Requires a merchant API key with webhooks:manage permission.
      tags:
        - Webhooks
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Webhook ID
          example: "550e8400-e29b-41d4-a716-446655440000"
      responses:
        '200':
          description: Webhook deleted successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      deleted:
                        type: string
                        example: "550e8400-e29b-41d4-a716-446655440000"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /dev/docs/snippets:
    get:
      summary: Get developer documentation snippets
      description: |
        Get code snippets and test card information for development.

        Requires a developer API key.
      tags:
        - Developer
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Snippets retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocsSnippets'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
